@import "../../assets/styles/variables";
.container {
  //   box-shadow: $shadow;
  box-shadow: rgba(67, 71, 85, 0.2) 0px 0px 5.6px 0px,
    rgba(90, 125, 188, 0.05) 0px 5.6px 8px 0px;
  background-color: white;
  position: absolute;
  top: 50px;
  right: 0;
  width: 250px;
  z-index: 200;
  border-radius: 10px;
  padding: 10px 0;
  display: none;
  &.active {
    display: block;
  }

  .item {
    display: block;
    padding: 15px;
    font-size: $smallFontSize;
    cursor: pointer;
    color: inherit;
    &:hover {
      background-color: $gray1;
    }
  }
  .line {
    height: 1px;
    background-color: $gray2;
    margin: 5px 0;
  }
}
