@import "../../assets/styles/breakpoint";
@import "../../assets/styles/variables";

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  width: 95%;
  @include md {
    width: 70%;
  }
  @include lg {
    width: 50%;
  }
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid $gray2;
  }
  &_body {
    padding: 20px 30px;
    border-bottom: 1px solid $gray2;
    min-height: 300px;
    max-height: 400px;
    overflow-y: scroll;
  }
  &_footer {
    padding: 20px 30px;
    border-bottom: 1px solid $gray2;
  }
}
