@import "../../assets/styles/variables";
@import "../../assets/styles/breakpoint";

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 150px 0;
}

.container {
  width: 95%;
  border: 1px solid $gray4;
  border-radius: 10px;
  @include lg {
    width: 45%;
  }
  @include xl {
    width: 40%;
  }
  &_head {
    text-align: center;
    border-bottom: 1px solid $gray2;
    padding: 20px 0;
    h2 {
      font-size: 20px;
    }
  }
  &_body {
    width: 90%;
    margin: auto;
    padding: 30px 0;
    padding-bottom: 70px;
  }
}

.redirect {
  font-size: $smallFontSize;
  margin-top: 10px;
  display: block;
}
