@import "../../assets/styles/variables";
@import "../../assets/styles/breakpoint";

.auth {
  composes: auth from "../Login/style.module.scss";
}

.container {
  composes: container from "../Login/style.module.scss";
  &_head {
    composes: container_head from "../Login/style.module.scss";
  }
  &_body {
    composes: container_body from "../Login/style.module.scss";
  }
}

.redirect {
  composes: redirect from "../Login/style.module.scss";
}
