@import "../../assets/styles/variables";
.container {
  background-color: white;
  width: 100vw;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &.active {
    height: 100px;
  }
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid $gray3;
  border-radius: 50px;
  &.active {
    background-color: $gray2;
  }

  &_item {
    position: relative;
    min-width: 150px;

    &:last-of-type {
      width: 260px;
      .searchBar_item_box {
        > div {
          padding: 16px;
        }
        padding: 0;
        .searchIcon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $primaryColorMain;
          color: white;
          opacity: 1;
          padding: 14px;
          border-radius: 100%;
          z-index: 50;
          width: 50px;
          height: 50px;
          transition: width 0.1s linear;
          &.active {
            border-radius: 50px;
            height: auto;
            gap: 15px;
            width: 120px;
          }
        }

        &::after {
          display: none;
        }
      }
    }
    &:first-of-type {
      width: 330px;
      .searchBar_item_box {
        padding: 15px;
        padding-left: 35px;
      }
    }
    &_box {
      cursor: pointer;
      border-radius: 50px;
      padding: 16px;
      &.active {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0 0 6px;
        &:hover {
          background-color: white;
        }
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        height: 30px;
        transform: translateY(-50%);
        width: 1px;
        background-color: $gray3;
      }

      &:hover {
        background-color: $gray3;
        &::after {
          display: none;
        }
      }
      input {
        border: none;
        outline: none;
        background-color: transparent;
        &::placeholder {
          font-family: $font;
        }
      }
      span {
        display: block;
        font-size: $smallFontSize;
        opacity: 0.6;
        &.title {
          font-weight: bold;
          opacity: 1;
        }
      }
    }
  }
}

.where {
  position: absolute;
  top: 85px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  min-height: 300px;
  min-width: 370px;
  h5 {
    margin-bottom: 30px;
  }
  .regions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    .imgContainer {
      margin-bottom: 5px;
      img {
        border: 1px solid $gray2;
        padding: none;
        width: 120px;
        border-radius: 10px;
        &:hover {
          border-color: black;
          cursor: pointer;
        }
      }
    }
    .region {
      font-size: $smallFontSize;
      font-weight: $lightFont;
    }
  }
}

.pickDate {
  position: absolute;
  top: 85px;
  min-height: 430px;
  min-width: 900px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.checkIn {
    left: -325px;
  }
  &.checkOut {
    left: -485px;
  }
}

.who {
  position: absolute;
  top: 85px;
  left: -180px;
  min-height: 350px;
  min-width: 450px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 50px;
}

.locations {
  padding: 25px 10px;
}

.location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 2px;
  padding: 10px 25px;
  &:last-of-type {
    margin: 0;
  }
  &:hover {
    background-color: $gray1;
    cursor: pointer;
  }
}

.regionSelect {
  padding: 50px;
}

.loIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray2;
  border-radius: 10px;
  padding: 10px;
  svg {
    opacity: 0.8;
  }
}

.loText {
  font-weight: $lightFont;
  text-transform: capitalize;
}
