@import "../../assets/styles/variables";
.authForm {
  width: 100%;
  h3 {
    margin-bottom: 20px;
  }
  button {
    padding: 12px;
    font-weight: 700;
  }
}
.formControl {
  margin-bottom: 15px;
}
