@import "../../assets/styles/variables";
.edit {
  text-align: center;
  border-bottom: 1px solid $gray2;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.imgContainer {
  margin-bottom: 10px;
  img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
  }
}

.content {
  h3 {
    margin-bottom: 5px;
  }
  p {
    font-weight: $lightFont;
  }
}
