@import "../../assets/styles/variables";

.wrap {
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $gray3;
  border-radius: 50px;
  padding: 5px 10px;
  padding-right: 6px;
  gap: 13px;
  cursor: pointer;
  &:hover,
  &.active {
    box-shadow: $shadow;
  }

  .icon {
    background-color: $gray6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 100%;
    svg {
      color: white;
    }
  }

  svg {
    font-size: 20px;
    margin: 0;
  }
}
