@import "../../assets/styles/variables";
.container {
  border: 1px solid $gray2;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: $smallFontSize;

  &.error {
    .icon {
      background-color: $dangerColorMain;
      color: white;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 100%;
  }

  &_content {
    flex-grow: 1;
    span {
      display: block;
      &.sum {
        margin-bottom: 5px;
        font-weight: $boldFont;
      }
    }
  }
}
