@import "../../assets/styles/variables";
@import "../../assets/styles/breakpoint";

.container {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 6px;
  padding: 10px 0;
  @include lg {
    display: none;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 900;
}
.content {
  width: 95%;
  margin: auto;
  @include lg {
    width: 85%;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.searchBar {
  width: 100%;
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $smallFontSize;
  &_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    .qTitle {
      font-weight: bold;
    }
    .values {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 13px;
      gap: 15px;
      span {
        opacity: 0.6;
      }
    }
  }
}

.filterBox {
  margin-top: 10px;
}

.filterIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 5px;
  border: 1px solid $gray2;
}
