@import "../../assets/styles/breakpoint";
@import "../../assets/styles/variables";

.container {
  background-color: white;
  z-index: 10;
  border-top: 1px solid $gray2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: block;
  transform: translateY(100px);
  transition: transform 0.2s linear;
  &.active {
    transform: translateY(0);
  }
  @include lg {
    display: none;
  }
  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $extremelySmallFontSize;
    padding: 0 10px;
    gap: 30px;
    @include md {
      gap: 90px;
    }
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $gray4;
      cursor: pointer;
      &.active {
        svg {
          color: $primaryColorMain;
        }
      }
    }
  }
}
