@import "../../assets/styles/variables";

.container {
  font-size: $smallFontSize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $gray2;
  padding: 6px 10px;
  border-radius: 50px;
  background-color: white;
  width: 350px;
  box-shadow: $shadow;
  padding-left: 20px;
  cursor: pointer;
  .line {
    width: 1px;
    height: 25px;
    background-color: $gray3;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColorMain;
    color: white;
    border-radius: 100%;
    padding: 9px;
    cursor: pointer;
    svg {
      font-size: 19px;
    }
  }
}
