@import "../../assets/styles/variables";
@import "../../assets/styles/breakpoint";

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 900;
  &_border {
    border-bottom: 1px solid $gray2;
  }
  display: none;
  @include lg {
    display: block;
  }
}

.container {
  width: 95%;
  height: 80px;
  margin: auto;
  &_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &.past {
    box-shadow: $shadow;
    .categories {
      padding-top: 0px;
    }
  }

  .part {
    width: calc(100% / 3);
  }

  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 5px;
    span {
      font-weight: bold;
    }
    svg {
      font-size: 35px;
      margin: 0;
      padding: 0;
      transform: translateX(-3px);
    }
  }

  @include lg {
    width: 90%;
  }
}

.filters {
  position: sticky;
  top: 80px;
  background-color: white;
  &.past {
    box-shadow: $shadow;
    padding-top: 0;
  }
  padding-top: 25px;
  transition: padding 0.1s linear;
  @include lg {
    display: block;
  }
  display: none;
}

.categories {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 18px;
  &_wrap {
    width: calc(100% - 110px);
  }
  transition: padding 0.1s linear;
}

.filterBtn {
  width: 92px;
  border: 1px solid $gray3;
  padding: 14px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  cursor: pointer;
  span {
    font-size: $smallFontSize;
  }
  svg {
    font-size: 19px;
  }
}

.searchBarContainer {
  transition: transform 0.2s linear;
  &.active {
    transform: translateY(80px);
  }
}

.searchDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: fixed;
  top: 30px;
  transform: translateY(-100px);
  transition: transform 0.2s linear;
  &.active {
    transform: translateY(0);
  }
}
