@import "../../assets/styles/variables";
.box {
  border-bottom: 1px solid $gray2;
  padding-bottom: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:last-of-type {
    border: none;
    margin-bottom: 0;
  }
  &_left {
    span {
      display: block;
      &:last-of-type {
        font-size: $smallFontSize;
        opacity: 0.8;
        color: $lighterTextColor;
        // font-weight: $lightFont;
      }
      &.title {
        font-weight: $boldFont;
        margin-bottom: 5px;
      }
    }
  }
  &_right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    .state {
      min-width: 40px;
      text-align: center;
    }
    .calIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 1px solid $gray4;
      padding: 7px;
      cursor: pointer;
      opacity: 1;
      &:hover {
        border-color: black;
      }
      &.inActive {
        opacity: 0.4;
        cursor: not-allowed;
        &:hover {
          border-color: $gray4;
        }
      }
      svg {
        font-size: 18px;
      }
    }
  }
}
