@import "../../assets/styles/breakpoint";
@import "../../assets/styles/variables";

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 95%;
  outline: none;
  text-align: center;
  border-radius: 10px;
  @include md {
    width: 60%;
  }
  @include lg {
    width: 40%;
  }
  @include xl {
    width: 35%;
  }
  &_head {
    margin-bottom: 20px;
    border-bottom: 1px solid $gray2;
    padding: 20px;
    span {
      font-weight: bold;
    }
  }
  &_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    padding: 20px;
  }
  //   z-index: 300;
}
