@import "../../assets/styles/variables";
@import "../../assets/styles/breakpoint";

.container {
  width: 100%;
  margin: auto;
  color: $textColor2;

  h1 {
    margin-bottom: 5px;
  }

  @include md {
    width: 90%;
  }

  @include lg {
    width: 85%;
  }
  .head {
    margin-bottom: 40px;
  }
  .list {
    display: grid;
    gap: 30px;
    @include md {
      grid-template-columns: 1fr 1fr;
    }

    @include lg {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .item {
      background-color: white;
      box-shadow: $shadow;
      padding: 20px;
      border-radius: 10px;
      cursor: pointer;
      .icon {
        margin-bottom: 20px;
        display: block;
        svg {
          font-size: 40px;
        }
      }
      .title {
        font-weight: 500;
        margin-bottom: 10px;
      }
      .detail {
        font-size: $smallFontSize;
        color: $lighterTextColor;
      }
    }
  }
}
