@import "../../assets/styles/variables";
.swiper {
  width: 100%;
}
.item_box {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  opacity: 0.8;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next,
.prev {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $gray2;
  border-radius: 100%;
  padding: 3px;
  cursor: pointer;
  svg {
    font-size: 19px;
  }
}
