* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  color: $textColor;
  font-weight: 400;
  button {
    text-transform: lowercase !important;
    text-transform: capitalize !important;
  }
  a {
    text-decoration: none;
    color: $primaryColorMain;
    text-transform: lowercase !important;
    text-transform: capitalize !important;
  }
}

.appContainer {
  padding-top: 90px;
  width: 95%;
  margin: auto;
  padding-bottom: 100px;
  &.hasFilter {
    padding-top: 130px;
  }
  @include lg {
    width: 90%;
  }
}

.react-date-picker__wrapper {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid $gray3;
  color: $textColor;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  font-size: $smallFontSize !important;
  &::after {
    font-size: 17px !important;
    color: $gray5;
  }
}

// CALENDAR

.react-calendar__month-view__days {
  // gap: 10px;
}

.react-calendar__month-view__weekdays__weekday {
  abbr {
    font-size: $extremelySmallFontSize !important;
    color: $lighterTextColor;
    opacity: 0.8;
    text-transform: capitalize;
  }
}

.react-calendar__month-view__days__day--weekend {
  color: inherit;
}

.react-calendar__tile--now {
  background-color: inherit;
  &:hover {
  }
}

.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0;
  visibility: none;
}

.react-calendar__tile {
  border-radius: 100%;
  height: 46px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-calendar__tile:enabled:hover {
  background-color: transparent;
  border: 1px solid black;
}

.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background-color: black;
  color: white;
  &:hover {
    background-color: black !important;
    color: white;
  }
}

.react-calendar__viewContainer {
  gap: 40px;
}

.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: transparent;
}

.react-calendar__navigation__label {
  font-weight: bold;
  font-size: 17px;
}
.react-calendar__tile:disabled {
  background-color: transparent;
  opacity: 0.4;
  color: $gray4;
}
