@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

$font: "Open Sans", sans-serif;
$textColor: rgb(34, 34, 34);
$textColor2: rgb(72, 72, 72);
$lighterTextColor: #717171;

$primaryColorMain: #0066ff;
$primaryColorDark: #0052cc;

$dangerColorMain: #ef4444;
$dangerColorDark: #dc2626;

$gray0: #f9fafb;
$gray1: #f3f4f6;
$gray2: #e5e7eb;
$gray3: #d1d5db;
$gray4: #9ca3af;

$gray5: #6b7280;
$gray6: #4b5563;
$gray7: #374151;

$lightFont: 300;
$normalFont: 400;
$boldFont: 600;

$mainFontSize: 16px;
$smallFontSize: 14px;
$extremelySmallFontSize: 12px;

$shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
// $authShadow: rgba(3, 0, 71, 0.09) 0px 8px 45px;
