@import "../../../assets/styles/variables";
@import "../../../assets/styles/breakpoint";

.container {
  composes: container from "../style.module.scss";
}

.head {
  composes: head from "../style.module.scss";
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  @include lg {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 60px;
  }
  &_right {
    &_box {
      border: 1px solid $gray3;
      border-radius: 10px;
      padding: 20px;
      min-height: 300px;
    }
  }
}

.edit {
  border-bottom: 1px solid $gray2;
  padding-bottom: 20px;
  margin-bottom: 20px;
  opacity: 1;

  .caInput {
    width: 100%;
    .react-date-picker__wrapper {
      background-color: red;
    }
  }

  &.blur {
    opacity: 0.3;
    cursor: not-allowed;
  }
  &.active {
  }
  &_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_body {
    .formControl {
      margin: 20px 0;
    }
    .formGroup {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr;
    }
    small {
      font-weight: $lightFont;
    }
  }
  .content {
    font-weight: $lightFont;
  }
}

.lgDetail {
  font-size: $smallFontSize;
  color: $lighterTextColor;
}

.lgList {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.chosen {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
